<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
        <div>
          <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
                <span>
                    <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
    </div>

    <app-menubar></app-menubar>

  </div>
  <div class="app-main">
    <div class="app-sidebar sidebar-shadow">
      <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
          <div>
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
            </button>
          </div>
        </div>
      </div>
      <div class="app-header__mobile-menu">
        <div>
          <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
          </button>
        </div>
      </div>
      <div class="app-header__menu">
                        <span>
                            <button type="button"
                                    class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
      </div>
      <app-sidebar></app-sidebar>
    </div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
          <div class="row">

            <div class="col-md-6">
              <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Penguin Ears</h5>
                  <div>
                    <div style="margin-top: 10px"><label>Unit Quantity</label></div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                  <img width="40" class="rounded-circle" src="./assets/images/penguin-ears.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                      </span>
                      </div>
                      <input formControlName="qtyPenguinUnit" matInput #input max="100" placeholder="Select Quantity"
                             type="number"
                             min="0" class="field-values">
                    </div>
                    <br>
                    <div style="margin-top: 10px"><label>Carton Quantity</label></div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                  <img width="40" class="rounded-circle" src="./assets/images/penguin-ears.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                      </span>
                      </div>
                      <input formControlName="qtyPenguinCarton" matInput #input max="100" placeholder="Select Quantity"
                             type="number" min="0" class="field-values">
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Horse Shoes</h5>
                  <div>
                    <div style="margin-top: 10px"><label>Unit Quantity</label></div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                  <img width="40" class="rounded-circle" src="./assets/images/horse-shoes.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                      </span>
                      </div>
                      <input formControlName="qtyHorseUnit" matInput #input max="100" placeholder="Select Quantity"
                             type="number"
                             min="0" class="field-values">
                    </div>
                    <br>
                    <div style="margin-top: 10px"><label>Carton Quantity</label></div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                  <img width="40" class="rounded-circle" src="./assets/images/horse-shoes.jpg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                      </span>
                      </div>
                      <input formControlName="qtyHorseCarton" matInput #input max="100" placeholder="Select Quantity"
                             type="number"
                             min="0" class="field-values">
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="txt-align-center col-md-12" style="margin-top: 20px">
              <button class="mb-2 mr-2 btn-transition btn btn-outline-primary" style="width: 100%">Calculate
              </button>
            </div>

            <div class="main-card col-md-12 card" style="margin-top: 20px">
              <div class="card-body" style="text-align: center; margin-left: 20px">
                <label><h5><input formControlName="totalValue" style="border: none; color: rgba(13, 27, 62, 0.7); font-size: larger;"></h5></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../assets/scripts/main.js"></script>
